head
  title demo

body
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize=50
      +Surface target="header" template="header"
      +ContainerSurface target="content" perspective=500
        +FlexLayoutController layout=layout direction=direction layoutOptions=layoutOptions
          +famousEach surfaces
            +Surface style=style
              | #{_id}

template(name="header")
  p
    select(id="layoutPicker")
      each layouts
        option(value=this,selected=isLayoutSelected) #{this}
    select(id="directionPicker")
      each directions
        option(value=value,selected=isDirectionSelected) #{key}
    each layoutOptions
      label
        | #{this}:
        input(name=this,class="picker",value=layoutOptionValue,size="5")
      | &nbsp;