head
  title demo

body
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize=45
      +TabBar target="header" class="black" createRenderables=createRenderables layoutController=layoutController
        +tabHeader tabId="FlexScrollViewDemo" text="FlexScrollView"
        +tabHeader tabId="TabBarDemo" text="TabBar"
        +TabBarInitHack
      +RenderController target="content" prerender=true showId=showId
        +FlexScrollViewDemo
        +TabBarDemo

template(name="TabBarInitHack")

template(name="layout1")
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize=120
      +Modifier target="header" 
        +TabBar createRenderables=createRenderables
          +Surface template="tabHeader"
      +RenderController target="content"
        +yield

template(name="tabHeader")
  +Surface tabId=tabId class="ff-widget ff-tabbar images item black tabHeader"
    | {{text}}